configuration	{
	modes: [ combi ];
	combi-modes: [ window, drun ];
	dpi: 90;
}

element	{
	orientation: horizontal;
	children: [ element-text, elenent-icon ];
	spacing: 8px;
}

element-icon	{
	size: 4em;
}

element-text	{
	vertical-align: 1;
}

/**/
